.grayBase
  #contentWrapper.clearfix
    .navA
      %ul.clearfix
        %li.on 1.支払い方法の選択
        %li 2.お届け先の入力
        %li 3.申込内容の変更
        %li 4.完了
    %form#investment_address
      %section.box
        .boxA
          %h2.ttl
            お届け先情報をご入力して下さい
            %span.atnA
          %p.atnB
            Makuakeサイトで取得した情報の取り扱いに関する
            %a
              プライバシーポリシー
            について
        .boxF
          %dl
            %dt
              名前(全角)
              %span.requiredTxt 必須
            %dd
              .boxE.clearfix
                .boxEIn
                  %span.formtextC.polR 姓
                  %input#last_name.formtextB{ type: "text", placeholder: "例）山田" }
                %div
                  %span.formtextC.polR 名
                  %input#first_name.formtextB{ type: "text", placeholder: "例）太郎" }
          %dl
            %dt
              カナ(全角)
              %span.requiredTxt 必須
            %dd
              .boxE.clearfix
                .boxEIn
                  %span.formtextC.polR セイ
                  %input#last_name.formtextB{ type: "text", placeholder: "例）ヤマダ" }
                %div
                  %span.formtextC.polR メイ
                  %input#first_name.formtextB{ type: "text", placeholder: "例）タロ" }
          / %dl
          / %dl
      #nextBtnArea.clearfix
        %input.backBtn{ type: "button", value: "戻る" }
        %input.checkBtn{ type: "submit", value: "確認する" }
    .boxHosoku
      ご確認お願いします
