.grayBase
  #contentWrapper.clearfix
    .navA
      %ul.clearfix
        %li.on 1.支払い方法の選択
        %li 2.お届け先の入力
        %li 3.申込内容の変更
        %li 4.完了
    #confirmedcontent
      %section.box
        .boxA
          %h2.ttl 申込内容を確認する
        .boxF
          %dl
            %dt
              支援金額
            %dd
              .boxE.clearfix
                3,000円(税込)
          %dl
            %dt
              コース内容
            %dd
              .boxE.clearfix
                ★感謝のメールを送らせていただきます
          %dl
            %dt
              お届け先
            %dd
              .boxE.clearfix
                = current_user.name
          %dl
            %dt
              支払い方法
            %dd
              .boxE.clearfix
    #nextBtnArea.clearfix
      %form.checkBtn{ action: "/projects/pay", method: :post}
        %script.webpay-button{"data-key" => "#{ENV["webpay_public_key"]}", "data-lang" => "ja", src: "https://checkout.webpay.jp/v3/", "data-text" => "カード情報の入力へ" }
        %input{ type: "hidden",  name: "customer_id" ,value: current_user.customer_id }
        %input{ type: "hidden", name: "current_user_id", value: current_user.id }
        %input{ type: "hidden", name: "project_id", value: params[:id] }
    .boxHosoku
      ご確認お願いします
