function addFavorite(){
  favorite =
    "<a class = 'goodBaseIn2_tab goodBtnHero_jq_1-on' >" +
      "<i class = 'fa fa-heart'>" +
      "</i>"          +
      "<span>お気に入り追加中</span>"        +
    "</a>"
  return favorite;
}

function deleteFavorite(){
  favorite =
    "<a class = 'goodBaseIn_tab goodBtnHero_jq_1-off'" + ">" +
      "<i class = 'fa fa-heart-o'>" +
      "</i>"          +
      "<span>お気に入り</span>"        +
    "</a>"
  return favorite;
}

$(function(){

    $(document).on("click", ".goodBaseIn_tab", function(e){
      e.preventDefault();
      $(".goodBaseIn_tab").remove();
      $(".goodBase_tab").append(addFavorite());
    });

    $(document).on("click", ".goodBaseIn2_tab", function(e){
      e.preventDefault();
      $(".goodBaseIn2_tab").remove();
      $(".goodBase_tab").append(deleteFavorite());
    });

});
