#rightContent
  %section
    %h3#returnTitleText.returnTtl 支援するコースを選択する
    .anoInfo
      %p このプロジェクトは目標金額の達成有無にかかわらず、サポーターがプロジェクトに支援を申し込んだ時点でプロジェクトの成立（売買契約の成立）となります。
    #return
      %section.kakusectionRight
        .lefth4RightBase
          %h4.lefth4Right
            9072円コース
            %span.abstractSpan
              (税込)
          .lefth4RightNum
            %p 残り19個
        %a.ProjectDetailInRight
          %h5.lefth5Right 【スーパー早期特典40％OFF】サイフォングランデ１個【3モデルの中から選べる】
          .photoSectionUp
            %img.lazy{ src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/project/2354/return_2354_20241_280_165.jpg" }
          .detailTextRight
            ■スーパー早期サポーター限定リターン  限定数30個
            %br
            %br
            ■サイフォングランデ×1個  40%OFF
            %br
            ［一般販売予定価格15,120円（税抜14,000円）］
            %br
            %br
            ■モデルは下記3種類の中からお選びいただけます。
            %br
            "---------------------"
            %br
            ・ティアドロップ（涙型）
            %br
            ・ボール200（球型）
            %br
            ・フィッシャーマン（集魚灯型）
            %br
            "---------------------"
            %br
            ■仕様
            %br
            ・口金：E39
            %br
            ・消費電力：7W
            %br
            ・明るさ：白熱電球25W相当
            %br
            %br
            ※照明器具は付属しません。
            %br
            ※皆様のご支援により量産効率が向上した場合、正規販売価格が変更になる可能性もございます。
            %br
            ※デザイン・仕様は変更になる可能性もございます。ご了承ください。
          %p.detailAside02Uptext 11人が支援しています
          %p.detailAside03Uptext 2017年04月中にお届け予定です
        %aside.detailAside02
          %a.shienBtn このコースに申し込む
      %section.kakusectionRight
        .lefth4RightBase
          %h4.lefth4Right
            9072円コース
            %span.abstractSpan
              (税込)
          .lefth4RightNum
            %p 残り19個
        %a.ProjectDetailInRight
          %h5.lefth5Right 【スーパー早期特典40％OFF】サイフォングランデ１個【3モデルの中から選べる】
          .photoSectionUp
            %img.lazy{ src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/project/2354/return_2354_20241_280_165.jpg" }
          .detailTextRight
            ■スーパー早期サポーター限定リターン  限定数30個
            %br
            %br
            ■サイフォングランデ×1個  40%OFF
            %br
            ［一般販売予定価格15,120円（税抜14,000円）］
            %br
            %br
            ■モデルは下記3種類の中からお選びいただけます。
            %br
            "---------------------"
            %br
            ・ティアドロップ（涙型）
            %br
            ・ボール200（球型）
            %br
            ・フィッシャーマン（集魚灯型）
            %br
            "---------------------"
            %br
            ■仕様
            %br
            ・口金：E39
            %br
            ・消費電力：7W
            %br
            ・明るさ：白熱電球25W相当
            %br
            %br
            ※照明器具は付属しません。
            %br
            ※皆様のご支援により量産効率が向上した場合、正規販売価格が変更になる可能性もございます。
            %br
            ※デザイン・仕様は変更になる可能性もございます。ご了承ください。
          %p.detailAside02Uptext 11人が支援しています
          %p.detailAside03Uptext 2017年04月中にお届け予定です
        %aside.detailAside02
          %a.shienBtn このコースに申し込む
      %section.kakusectionRight
        .lefth4RightBase
          %h4.lefth4Right
            9072円コース
            %span.abstractSpan
              (税込)
          .lefth4RightNum
            %p 残り19個
        %a.ProjectDetailInRight
          %h5.lefth5Right 【スーパー早期特典40％OFF】サイフォングランデ１個【3モデルの中から選べる】
          .photoSectionUp
            %img.lazy{ src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/project/2354/return_2354_20241_280_165.jpg" }
          .detailTextRight
            ■スーパー早期サポーター限定リターン  限定数30個
            %br
            %br
            ■サイフォングランデ×1個  40%OFF
            %br
            ［一般販売予定価格15,120円（税抜14,000円）］
            %br
            %br
            ■モデルは下記3種類の中からお選びいただけます。
            %br
            "---------------------"
            %br
            ・ティアドロップ（涙型）
            %br
            ・ボール200（球型）
            %br
            ・フィッシャーマン（集魚灯型）
            %br
            "---------------------"
            %br
            ■仕様
            %br
            ・口金：E39
            %br
            ・消費電力：7W
            %br
            ・明るさ：白熱電球25W相当
            %br
            %br
            ※照明器具は付属しません。
            %br
            ※皆様のご支援により量産効率が向上した場合、正規販売価格が変更になる可能性もございます。
            %br
            ※デザイン・仕様は変更になる可能性もございます。ご了承ください。
          %p.detailAside02Uptext 11人が支援しています
          %p.detailAside03Uptext 2017年04月中にお届け予定です
        %aside.detailAside02
          %a.shienBtn このコースに申し込む
  .buyForgetArea
    .buyForgetAlert
      %i.alertCheck_off
      %span 終了前にお知らせを受け取る
  .anotherLinkArea
    %ul
      %li
        %a.open_contact_window プロジェクト実行者に質問する
      %li
        %a このプロジェクトについて運営に聞く
  .anotherInfo
    %p 「Makuake（マクアケ）」は、実行者の想いをサポーターの支援によって実現するクラウドファンディングサイトです。このページは、 プロダクトカテゴリの 「【第2弾】デザインLED電球Siphon 船舶モチーフ「Grande」先行発売！」プロジェクト詳細ページです。
  .makuakeLike
    %img.makuakeLikeImg{ src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/project/2354/main_2354_310_174.jpg" }
    .makuakeLikeBase
      %p.makuakeLikeP \このプロジェクトが気に入ったら/
      .makuakeLikeFb
        .fb-like.fb_iframe_widget
          %span
            %iframe{ src: "https://www.facebook.com/plugins/like.php?app_id=1407034392847669&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FiPrOY23SGAp.js%3Fversion%3D42%23cb%3Df38e3eed7466f58%26domain%3Dwww.makuake.com%26origin%3Dhttps%253A%252F%252Fwww.makuake.com%252Ff284cc68b060988%26relation%3Dparent.parent&container_width=0&href=https%3A%2F%2Fwww.facebook.com%2Fmakuake&layout=button_count&locale=ja_JP&sdk=joey&send=false&show_faces=false&width=111" }
