= form_for current_user.active_relationships.build, remote: true do |f|
  = f.hidden_field "following_id", value: current_user.id
  = f.hidden_field "follower_id", value: user.id
  = f.submit "フォローする", class: "btn btn-primary"
