%footer
  .footer__inner
    .footer-up
      .footer-up--left
        .footer__media--up
          %h4.footer__title プロジェクトを探す
          %ul.footer__listblock
            %li.footer__list プロダクト
            %li.footer__list ファッション
            %li.footer__list フード
            %li.footer__list レストラン・バー
            %li.footer__list#footer__list-technology テクノロジー
          .footer__listmore
            more >
        .footer__media--down
          %h4.footer__title プロジェクトを掲載する
          %ul.footer__listblock
            %li.footer__list プロジェクト How To
          %a
            %img.footer__bn--pj{ src: "https://cdn-m.makuake.com/rev_2016/12/15/103213/img/footer/footer_bn_apply.jpg"}
      .footer-up--center
        .footer__media
          %h4.footer__title MENU
          %a
            %img.footer__bn--store{ src: "https://cdn-m.makuake.com/rev_2016/12/15/103213/img/footer/footer_bn_store.jpg"}
          %ul.footer__listblock
            %li.footer__list ヘルプ
            %li.footer__list プレスリリース
            %li.footer__list お問い合わせ・取材受付
      .footer-up--right
        .footer__media
          %h4.footer__title
            オフィシャルアカウント
          .footer__faceblock
            %iframe{ src: "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmakuake&tabs=timeline&width=340&height=350&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" }
          %ul.footer__snsblock
            %li.footer__snslist#footer__snslist-tw
              %i.fa.fa-twitter
              %p.sns#tw Makuake_caをフォロー
            %li.footer__snslist#footer__snslist-line
              %i.fa.fa-
              %p.sns#line LINE@
            %li.footer__snslist#footer__snslist-insta
              %i.fa.fa-instagram
              %p.sns#insta Instagram
    .footer-down
      .footer-down--left
        Copyright © CyberAgent Crowd Funding, Inc. All Rights Reserved.
      .footer-down--right
        %ul.footer__listblock--side
          %li.footer_list--side 運営会社
          %li.footer_list--side 利用規約
          %li.footer_list--side プライバシーポリシー
