%header#header
  #headerin
    #header-logo
      %img{ alt: "Makuake", src: "" }
    %form#header-search
      %input.header-search__input{ placeholder: '"まだここにない"を手に入れよう'  }
      %input.header-search__submit{ type: "submit", value: "" }
    %ul.header-nav.clearfix
      %li
        %a.link01#link 探す
      %li
        %a.link02#link 始める
      %li
        %a.link03#link Makuakeとは？
      %li
        %a.link04.btncol_03 ログイン
      %li
        %a.link05.btncol_04 新規登録