%section.projectBox02
  / = link_to project_path(), class: "projectLink02"
  %a.projectLink02
    %img{ src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/project/2346/main_2346_230_129.png" }
    %h2
      = project.title
