#projectssideNavi
  = form_tag "/projects/search", method: :get, id: "search_form", class: "findForm" do
    .findFormBase
      %input#keyword.findFormBaseInput{ type: "text", name: "keyword" }
      %input#start_search.findFormBaseSubmit{ value: "検索", type: "submit" }


  %dl.sideNaviOne
    %dt.sideNaviTitle.sideIconSupt プロジェクトを探す
    %dd
      %a 募集中のプロジェクト
    %dd
      %a 募集が終了が近いプロジェクト
    %dd
      %a 新着プロジェクト
    %dd
      %a 支援金額が多いプロジェクト
    %dd
      %a あと一押し!プロジェクト
    %dd
      %a ストア一覧
  %dl.sideNaviOne#accountinfo
    %dt.sideNaviTitle.sideIconSupt カテゴリーから探す
    %dd
      %a プロダクト
    %dd
      %a ファッション
    %dd
      %a フード
    %dd
      %a レストラン・バー
    %dd
      %a テクノロジー
    %dd
      %a コスメ・ビューティー
    %dd
      %a アート・写真
    %dd
      %a 映画・映像
    %dd
      %a アニメ・マンガ
    %dd
      %a 音楽
    %dd
      %a ゲーム
    %dd
      %a 演劇・パフォーマンス
    %dd
      %a お笑い・エンタメ
    %dd
      %a 出版・ジャーナリズム
    %dd
      %a 教育
    %dd
      %a スポーツ
    %dd
      %a スタートアップ
    %dd
      %a 地域活性化
    %dd
      %a 社会貢献
    %dd
      %a 世界一周
  %aside.Security
    %h2 セキュリティについて
    %p 当サイトはSSL暗号化通信に対応しておりますので、入力した情報は安全に送信されます。
    %span
      %a#aa
        %img{ alt:"グローバル認証サイト", src: "http://s3-ap-northeast-1.amazonaws.com/static.makuake-ca.com/upload/project/2233/main_2233_464_261.jpg" }
